* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'Trebuchet MS';
  background-image: url('./assets/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  gap: 2rem;
  margin: 2rem 1rem; /*Son dos valores, el primer valor corresponde al vertical, y el segundo valor corresponde al horizontal*/
}

.border {
  display: inline-block;
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0px 0px 20px 3px black;
  padding: 20px;
  width: 300px;
}

.LED_RED {
  display: block;
  margin: auto;
  filter: var(--grayscale-RED);
}

.LED_GREEN {
  display: block;
  margin: auto;
  filter: var(--grayscale-GREEN);
}

.LED_BLUE {
  display: block;
  margin: auto;
  filter: var(--grayscale-BLUE);
}

h1,
h2 {
  text-align: center;
}

.BTN {
  background-color: whitesmoke;
  border: whitesmoke;
}
