.border {
  background-color: white;
  font-family: 'Trebuchet MS';
  box-shadow: 0px 0px 20px 8px black;
  padding: 20px;
  width: 300px;
  display: inline-block;
  text-align: center;
  margin: 20px;
}

body {
  background-image: url('http://drive.google.com/uc?export=view&id=1LUE3eWI1xRuBRNt-C632pZZt4rskRweo');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  margin: 20px;
}

.LED_RED {
  display: block;
  margin: auto;
  filter: var(--grayscale-RED);
}

.LED_GREEN {
  display: block;
  margin: auto;
  filter: var(--grayscale-GREEN);
}

.LED_BLUE {
  display: block;
  margin: auto;
  filter: var(--grayscale-BLUE);
}

h1,
h2 {
  text-align: center;
}

.BTN {
  background-color: white;
  border: white;
}
